@import '../../../src/src/styles/variables.scss';
.maincontent {
	background-color: $lightergray;
	border-radius: .5rem;
	box-shadow: 3px -2px 5px 0px rgba(32, 32, 32, .6);
}

.flexbox {
	display: flex;
	width: 100%;
}

.tree {
	flex: 1 1 auto;
	font-size: 2rem;
	line-height: 2.6rem;
	&,
	ul {
		list-style: none;
	}
	input {
		padding: 0 .5rem;
		width: auto;
		text-overflow: ellipsis;
	}
	textarea {
		padding: 0 .5rem;
		width: 90%;
	}
	input,
	textarea {
		font-family: "Alegreya, serif";
		border-radius: .3rem;
		font-size: 2rem;
		border: thin solid transparent;
		background: transparent;
		vertical-align: middle;
		margin-top: 0;
		margin-bottom: 0;
		text-decoration: underline;
		text-decoration-style: dashed;
		font-style: italic;
		&:focus {
			background-color: $white;
			border: 2px solid $blue;
			text-decoration: none;
			font-style: normal;
		}
	}
	li {
		> label,
		> input {
			vertical-align: middle;
		}
		&.aligntop {
			> label,
			> textarea {
				vertical-align: top;
			}
		}
	}
	label {
		font-weight: 600;
	}
}
.hasSubMenu {
	> label:after {
		content: "";
		display: inline-block;
		right: 0;
		width: 1px;
		height: 1px;
		border: 5px solid transparent;
		border-top-color: #191919;
		margin-left: .8rem;
		pointer-events: all;
		transform: rotate(0deg);
		margin-bottom: -.5rem;
	}
}
.expanded {
	> ul {
		display: none;
	}
	> label:after {
		margin-bottom: unset;
		transform: rotate(-90deg);
	}
}