@import '../../src/styles/variables.scss';
.author {
    font-size: $textregular;
    text-align: center;
    margin-top: 2rem;
    color: $blue;
}
.heading2 {
    color: orange;
}
.quote {
    color: $blue;
}