@import '../../src/styles/variables.scss';
@import '../../src/styles/theme.scss.module.scss';
.display-card {
    background-color: $lightergray;
}

.input,
.textarea,
.select {
    background-color: $cbackground;
    font-family: "Alegreya, serif";
}

.flex {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}
.contacttiles {
    width: 100%;
}
.breakword {
    word-break: break-all;
}
.button {
    font-family: "Alegreya, serif";
    @media (max-width: 767px) {
        flex: 1 100%;
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
    @media (min-width: 768px) {
        flex: 1 auto;
        &:not(:first-child) {
            margin-left: 1.5rem;
        }
    }
    &:hover {
        box-shadow: 0 1px 3px 0 $darkgray;
    }
}
.workcount {
    top: -2.2rem;
    text-align: right;
    position: relative;
    padding-right: .5rem;
    &:before {
        content: attr(textnum) ' chars left';
        font-size: $textsmall;
        font-style: italic;
        color: $darkgray;
    }
}