@import './variables.scss';
@import './theme.scss.module.scss';
.container {
    max-width: 126rem;
    margin: 0 auto;
}
.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.paragraph,
.label,
.quote {
    color: $black;
}
.textcenter {
    text-align: center;
}
.link {
    text-decoration: none;
    transition: color 500ms ease-in-out 50ms;
    &,
    &:active,
    &:focus,
    &:visited {
        color: $blue;
    }
    &:hover {
        color: $hoverblue;
    }
}
.quote {
    display: inherit;
    width: inherit;
    font-style: italic;
    padding: 2.5rem;
    border-radius: 1rem;
    background: $darkerwhite;
    :first-letter {
        font-size: 5rem;
    }
}
.description {
    text-indent: 2.5rem;
}
.inlinetext,
.listitem,
.description,
.formtext{
    font-size: $textregular;
    line-height: 1.7;
}
.input,
.input::placeholder,
.select,
.textarea,
.textarea::placeholder,
.button {
    font-size: $textregular;
    line-height: $lineinput
}
.label {
    font-size: $textemphasis;
    line-height: $lineemphasis;
    font-weight: $bold;
}
.textshadow6 {
    text-shadow: 1px 1px 6px $darkergray;
}
.textshadow1 {
    text-shadow: 1px 1px 4px $gray;
}
.whitebackground {
    background-color: $white;
}
.paddingb5 {
    padding-bottom: .5rem;
}

/* FORM */
.formrow:not(:last-child) {
    margin-bottom: 2.5rem;
}
.formtext {
    padding-left: 1rem;
}
.input {
    width: 100%;
    height: 4rem;
    border-radius: 3px;
    padding: 1rem 1.8rem;
    border: thin solid $cborder;
    &:focus {
        border: thin solid $cborderfocus;
    }
}
.textarea {
    width: 100%;
    min-height: 20rem;
    border-radius: 3px;
    padding: 1rem 1.8rem;
    border: thin solid $cborder;
    resize: none;
    &:focus {
        border: thin solid $cborderfocus;
    }
}
.select {
    width: 100%;
    height: 4rem;
    border-radius: 3px;
    padding: 0 1.8rem;
    border: thin solid $cborder;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
        border: thin solid $cborderfocus;
    }
}
.select::-ms-expand {
    display: none;
}
.button {
    height: 4rem;
    padding: 1.2rem 1.5rem;
    background-color: $blue;
    border: thin solid $blue;
    color: $white;
    border-radius: 3px;
    line-height: .8;
    min-width: 10rem;
    outline-offset: -.5rem;
    &:focus {
        outline: thin dashed $white;
    }
    &[disabled] {
        background-color: #999;
        border-color: #ccc;
        color: #fff;
        &:hover {
            box-shadow: none;
        }
    }
}
.ghostlybutton {
    background-color: $cresetbtn;
    border-color: $darkgray;
    color: $darkgray;
    outline-offset: -.5rem;
    &:focus {
        outline: thin dashed $cborder;
    }
}
::placeholder,
.select:invalid {
    font-style: italic;
    color: $darkgray;
}
@media (min-width: 1200px) {
    .paddingcontainer {
        padding: 3rem;
    }
}
@media (max-width: 1199px) {
    
}
@media (max-width: 1199px) and (min-width: 1024px) {
    .paddingcontainer {
        padding: 2.5rem;
    }
}
@media (min-width: 1024px) {

}
@media (max-width: 1023px) {

}
@media (max-width: 1023px) and (min-width: 768px) {
    .paddingcontainer {
        padding: 2rem;
    }
}
@media (min-width: 768px) {
    .heading1 {
        font-size: $h1;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
    }
    .heading2 {
        font-size: $h2;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
    }
    .heading3 {
        font-size: $h3;
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
    }
    .heading4 {
        font-size: $h4;
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
    }
    .heading5 {
        font-size: $h5;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
    .label {
        font-size: $textregular;
    }
    .quote {
        font-size: 3.2rem;
    }
}
@media (max-width: 767px) {
    .heading1 {
        font-size: $h1 - 1.2rem;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
    }
    .heading2 {
        font-size: $h2 - 1.2rem;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
    }
    .heading3 {
        font-size: $h3 - 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .heading4 {
        font-size: $h4 - 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .heading5 {
        font-size: $h5 - .8rem;
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
    }
    .label {
        font-size: $textregular - .2rem;
    }
    .quote {
        font-size: 2.8rem;
    }
}
@media (max-width: 767px) and (min-width: 640px) {
    .paddingcontainer {
        padding: 1.5rem;
    }
}
@media (min-width: 640px) {

}
@media (max-width: 639px) {
    .paddingcontainer {
        padding: 0rem;
        > :not(.full-bleed) {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }
}