@import '../../src/styles/variables.scss';
.descriptionpanel {
    border-bottom: thin solid $lightgray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}
.flex6 {
    @media (min-width: 768px) {
        flex: 0 1 46%;
    }
    @media (max-width: 767px) {
        flex: 0 1 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.contentcard {
    background-color: $lightergray;
    border-radius: $borderradius;
    padding: 2rem;
    &, label {
        color: $blue;
    }
}