.badge {
    .badgeImage {
        @media (min-width: 641px) {
            max-height: 10rem;
        }
        @media (max-width: 640px) {
            max-height: 5rem;
        }
    }
    ul {
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0 0 2rem 0;
        display: inline-flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    > :first-child {
        &:not(h1) {
            margin-top: 2em;
        }
    }
}