.hero-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 1024px) {
    .hero-image {
        height: 50rem;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .hero-image {
        height: 40rem;
    }
}

@media (max-width: 767px) {
    .hero-image {
        height: 30rem;
    }
}