@import '../../src/styles/variables.scss';
$linkActive: #4674e5;
$linkActive1: yellow;
$white: #fff;
$dark: rgba(64, 64, 64, 1);
$lightBg: #f2f2f2;
.area_menu  {
    width: 100%;
    > ul {
        display: flex;
        top: 0;
        right: 7rem;
        list-style-type: none;
        flex-wrap: nowrap;
        height: auto;
        justify-content: center;
        padding: 0;
        box-sizing: border-box;
        margin-bottom: 0;
        > li {
            height: inherit;
            overflow: hidden;
        }
        a {
            text-decoration: none;
            font-size: $textregular;
            line-height: 3rem;
            display: block;
            height: inherit;
            transition: all 500ms linear 50ms;
            &:hover {
                background-color: rgba(128, 128, 128, 1);
                .areaLabel {
                    color: $white;
                }
            }
            &:focus {
                outline: thin dashed $darkergray;
                outline-offset: -.4rem;
            }
        }
        .areaLabel {
            flex: 0 30rem;
            font-weight: 500;
        }
    }
}
.contentBox {
    margin-top: -1px !important;
    border-radius: .3rem;
    background-color: $lightBg;
}

@media screen and (min-width: 769px) {
    .area_menu {
        padding-top: 2rem;
        > ul {
            > li {
                margin-left: 1rem;
                border-radius: .5rem .5rem 0 0;
                border-bottom-width: 0;
                border: .1rem solid $dark;
            }
        }
        a {
            padding: .33rem 1.3rem;
            &,
            &:active,
            &:visited,
            &:hover {
                .areaLabel {
                    color: #333;
                }
                .areaDesc {
                    color: rgba(64, 64, 64, 1);
                }
            }
            &.active {
                background-color: $lightgray;
                .areaLabel {
                    color: $textwhite;
                }
            }
        }
    }
    .contentBox {
        border: thin solid $dark;
        margin: 0 2.5rem 2.5rem;
        padding: 0 2.5rem 2.5rem 2.5rem;
    }
}
@media screen and (max-width: 768px) and (min-width: 641px) {
    .contentBox {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .area_menu {
        li {
            white-space: nowrap;
        }
        a {
            &,
            &:active,
            &:visited,
            &:hover {
                .areaLabel {
                    color: #333;
                }
                .areaDesc {
                    color: rgba(64, 64, 64, 1);
                }
            }
            &.active {
                background-color: $darkerwhite;
                border: thin solid $black;
                border-bottom: 0;
            }
        }
    }
}
@media screen and (min-width: 641px) {
}
@media screen and (max-width: 640px) {
    .area_menu {
        padding-top: 0;
        > ul {
            flex-direction: column;
            margin-top: 0;
            > li {
                width: 100%;
                margin-left: 0;
                border-radius: 0;
                border-bottom: .1rem solid $dark;
                border-top: 0;
            }
        }
        a {
            &,
            &:active,
            &:visited,
            &:hover {
                .areaLabel {
                    color: #333;
                }
                .areaDesc {
                    color: rgba(64, 64, 64, 1);
                }
            }
            &.active {
                background-color: $darkgray;
                .areaLabel {
                    color: $textwhite;
                }
            }
        }
    }
    .contentBox {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 321px) and (max-width:768px) {
    .area_menu {
        a {
            padding: .32rem 1.2rem;
        }
    }
    .contentBox {
        border: thin solid $dark;
        margin-bottom: 2rem;
        padding: 0 2rem 2rem 2rem;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 320px) {
    .area_menu {
        a {
            padding: .31rem 1.1rem;
        }
    }
    .contentBox {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }
}