@import './src/styles/fonts.scss';
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(45deg, rgba(225, 225, 225, .3), rgba(200, 200, 200, .5), rgba(175, 175, 175, .2));
  font-family: "Alegreya, sans-serif";
  letter-spacing: .1rem;
}

.header-logo {
  text-transform: uppercase;
}
nav {
  flex: 0 0 8rem;
}
footer {
  flex: 0 0 3rem;
}

.heading1 {
  text-align: center;
}